[submodule ".registry"]
	path = .registry
	url = https://github.com/joscani/joscani.r-universe.dev
	branch = HEAD
[submodule "cransays"]
	path = cransays
	url = https://github.com/lockedata/cransays
[submodule "getCredentials"]
	path = getCredentials
	url = https://github.com/joscani/getCredentials
[submodule "goodpress"]
	path = goodpress
	url = https://github.com/maelle/goodpress
[submodule "roblog"]
	path = roblog
	url = https://github.com/ropenscilabs/roblog
[submodule "rodev"]
	path = rodev
	url = https://github.com/ropenscilabs/rodev
